

/* Style de la barre de navigation */
.nav-tabs {
    padding: 10px;
    display: flex;
	border:none;
    justify-content: space-around;
}

/* Style pour chaque onglet */
.nav-tabs .nav-link {
    background-color: #621503;
	color: #FFB65F;
    border: 1px solid transparent;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* Onglet actif */
.nav-tabs .nav-link.active {
    background-color: #FFB65F;
    color: #621503;
}

/* Survol des onglets */
.nav-tabs .nav-link:hover {
    background-color: #e9ecef;
    border-color: #ddd;
    color: #343a40;
}

/* Changement de couleur au clic */
.nav-tabs .nav-link:focus {
    background-color: #adb5bd;
    outline: none;
    color: white;
}

/* Responsive - Adaptation sur petit écran */
@media (max-width: 768px) {
    .nav-tabs {
        flex-wrap: wrap;
    }

    .nav-tabs .nav-link {
        margin-bottom: 5px;
        flex: 1 0 100%;
        text-align: center;
    }
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacement égal entre les cartes */
    margin: 1rem 0; /* Marge autour de la carte */
}

.card {
    flex: 1 1 calc(50% - 1rem); /* 2 cartes par ligne */
    margin: 0.5rem; /* Espacement entre les cartes */
    border: 1px solid #ccc; /* Bordure gris clair */
    border-radius: 0.5rem; /* Coins arrondis */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), inset 0 1px 5px rgba(255, 255, 255, 0.5); /* Ombre externe et interne */
    transition: transform 0.2s; /* Animation pour l'effet de survol */
}

.card:hover {
    transform: scale(1.05); /* Agrandissement au survol */
}

.card-body {
    padding: 1rem; /* Espacement interne */
}

.card-title {
    font-size: 1.25rem; /* Taille de la police du titre */
    font-weight: bold; /* Gras pour le titre */
    margin-bottom: 0.5rem; /* Marge en bas du titre */
}

.card-text {
    font-size: 0.9rem; /* Taille de la police pour le texte */
    margin-bottom: 0.5rem; /* Marge en bas du texte */
}

.card-text strong {
    color: #333; /* Couleur pour le texte fort */
}
