<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>MJ</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track user) {
        <tr>
          <td>{{ user.name }}</td>
          <td><a [href]="'mailto:' + user.mail">{{ user.mail }}</a></td>
          <td>
            @if (!user.isMJ && !user.isSuperAdmin) {
              <button class="promote" (click)="toggleMj(user)">Promouvoir</button>
            }
            @if (user.isMJ && !user.isSuperAdmin) {
              <button class="demote" (click)="toggleMj(user)" >Rétrogader</button>
            }
          </td>
          <td>
            @if (!user.isAdmin && !user.isSuperAdmin) {
              <button class="promote" (click)="toggleAdminRole(user)">Promouvoir</button>
            }
            @if (user.isAdmin && !user.isSuperAdmin) {
              <button class="demote" (click)="toggleAdminRole(user)">Rétrogader</button>
            }
          </td>
          <td>
            @if ( !user.isSuperAdmin) {
              <button class="suspend" (click)="suspendUser(user)" >Suspendre</button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
