.footer {
	width: 100%;
	background-color: #4f241a;
	color: #ffffff;
	padding: 10px;
	text-align: center;
}

.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer p {
	margin: 0;
}

.footer-link {
	color: #FFCA8C;
	text-decoration: none;
	padding: 5px 10px;
	transition: color 0.3s ease;
}

.footer-link:hover {
	color: #FFB65F;
	text-decoration: underline;
}

.footer span {
	margin: 0 5px;
	color: #FFCA8C;
}
