
.navbar {
	padding: 10px 20px 0;
	font-size: 1em;
	font-family: 'Merriweather Sans', sans-serif !important; /* Police de la barre de navigation */

}

.navBarMom {
	position: relative;
	z-index: 1000;
}


.navbar-brand {
	color: #ffb65f;
	font-weight: bold;
	font-size: 1.8em;
	font-family: 'Cinzel', serif;
}

.nav-link {
	color: #ffb65f;
	padding: 8px 15px;
	transition: background-color 0.3s, color 0.3s;
	text-transform: uppercase;
}

.nav-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
}

.navbar-toggler {
	border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-menu {
	background: var(--lupino-background-gradient);
	z-index: 10002 !important;
	right: 0;
	left: auto;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
}

.dropdown-item {
	font-family: 'Alegreya', sans-serif !important;
	font-size: 1.2em;
}

.dropdown-item:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

.badge {
	font-size: 0.8em;
	margin-left: 5px;
}

.dropdown-divider {
	border-color: rgba(255, 255, 255, 0.1);
}

.disabled-link {
	color: #ccc;
	text-decoration: none;
	pointer-events: none;
}
