/* Styles pour la barre de navigation */
.navbar {
    background-color: #621503; /* Couleur de fond principale */
    padding: 10px 20px; /* Espacement */
}

.navbar-brand {
    color: #FFB65F; /* Couleur du texte pour le nom de la marque */
    font-weight: bold; /* Met le texte en gras */
    font-size: 1.5em; /* Taille de la police */
    font-family: "Cinzel", serif;
}

.nav-link {
    color: #FFB65F; /* Couleur des liens */
    padding: 8px 15px; /* Espacement des liens */
    transition: background-color 0.3s, color 0.3s; /* Transition pour l'effet de survol */
}

.nav-link:hover {
    background-color: rgba(255, 182, 95, 0.2); /* Couleur de fond sur le survol */
    color: #ffffff; /* Change la couleur du texte au survol */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Couleur de la bordure */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255,.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Couleur de l'icône du menu */
}

.dropdown-menu {
    background-color: #621503; /* Couleur de fond du menu déroulant */
}

.dropdown-item {
    color: #FFB65F; /* Couleur des éléments du menu déroulant */
}

.dropdown-item:hover {
    background-color: rgba(255, 182, 95, 0.2); /* Couleur de fond sur le survol des éléments du menu */
    color: #ffffff; /* Change la couleur du texte au survol */
}

.badge {
    font-size: 0.8em; /* Taille de la police pour les badges */
    margin-left: 5px; /* Marge à gauche */
}

.dropdown-divider {
    border-color: rgba(255, 255, 255, 0.1); /* Couleur du séparateur */
}

.disabled-link {
    color: #ccc; /* Couleur grisée */
    text-decoration: none; /* Supprime le soulignement */
    pointer-events: none; /* Empêche le clic */
}