<div class="container lupino-intro">
    <h1>Lupino</h1>
    <p>
        Lupino est un univers de jeu de rôle (JDR) imaginé et conçu par Esetan, le Maître de jeu, depuis 2017. Plongé dans un monde médiéval-fantastique riche et varié, cet univers vous invite à explorer des régions fascinantes et à incarner une multitude de races et de personnages uniques. Que vous souhaitiez incarner un nécromancien DJ, un assassin en mode magical girl, ou encore un coralien doté de faux pouvoirs magiques, Lupino est l'endroit idéal pour donner vie à vos idées les plus audacieuses. La seule limite dans la création de votre personnage est votre imagination.
    </p>
    <p>
        Nous vous encourageons à utiliser ce site et son contenu à des fins non lucratives pour élaborer vos propres campagnes dans cet univers. Nous serions ravis de discuter avec vous sur Discord et, si l'occasion se présente, de nous incruster dans votre campagne si vous avez encore de la place !
    </p>
    <p>
        Sur ce site, vous pourrez parcourir une multitude d’informations sur l’univers de Lupino, découvrir des personnages publiés par nos utilisateurs, ainsi que des campagnes rendues publiques. Vous aurez également la possibilité d'explorer les récits des personnages et de vivre leurs différentes aventures palpitantes. N’hésitez pas à vous <a href="/register"> inscrire</a> pour bénéficier d'un accès à l'outil de création de personnage assistée, qui vous aidera à donner vie à vos héros et héroïnes dans ce monde vibrant.
    </p>
</div>
