/* Styles globaux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    background-color: #f0f0f0;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Cinzel', serif;
}

.hero {
    position: relative;
    height:  calc(100vh - 66px);
    background: url('/still-life-map-with-dices.jpg') center/cover no-repeat;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

/* reduce Hero height on small devices */
@media (max-width: 768px) {
    .hero {
        height: 35vh;
    }
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero .content {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero h1 span {
    color: #f4c542;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero .btn-explorer {
    padding: 0.75rem 2rem;
    background-color: #f4c542;
    color: #333;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.hero .btn-explorer:hover {
    background-color: #dab233;
}

/* Section features */
.features {
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
    background-color: #fff;
}
.features .feature {
    text-align: center;
}




.features .feature h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.features .feature p {
    font-size: 1rem;
    color: #666;
}

