<div class="hero">
	<div class="overlay">
		<div class="content">
			<h2>Bienvenue dans l'univers de</h2>
			<h1>Lupino</h1>
			<h2>Site de notre jeu de rôle</h2>
			<div style="display: flex; justify-content: space-around">
				<div class="bar-wrap">
					<div class="bar">
						<div class="dot" aria-hidden="true"></div>

						<div class="line" aria-hidden="true"></div>

						<div class="dot" aria-hidden="true"></div>
					</div>
				</div>
			</div>
			<div><a routerLink="/login" class="btn-explorer">Commencer une campagne</a></div>
			<div><a routerLink="/explorer" class="btn-explorer">Découvrir l'univers</a></div>
		</div>
	</div>
</div>
