/* Styles globaux */

h1 {
	font-family: 'Cinzel', serif;
	font-size: 2.5rem;
	margin-bottom: 0;
	color: #ffb65f;
}

h2 {
	text-transform: uppercase;
	font-family: 'Merriweather Sans', sans-serif !important; /* Police de la barre de navigation */
}

.hero {
	display: flex !important;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

/* reduce Hero height on small devices */
@media (max-width: 768px) {
	.hero {
		height: 50vh;
	}
}

.hero .content {
	z-index: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero h1 {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.hero h1 span {
	color: #f4c542;
}

.hero p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.hero .content div:has(> a) {
	margin-top: 3rem;
}

.hero .btn-explorer {
	padding: 0.75rem 2rem;
	background: linear-gradient(to bottom, #621503, #2b0800);
	color: #ffb65f;
	border: 2px solid #ffb65f;
	font-family: 'Alegreya', serif;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.hero .btn-explorer:hover {
	background-color: #dab233;
}

.ornament {
	width: 100%;
	height: 20px;
	display: block;
}
