/* Style de base pour les cartes */
.race-card {
    border: 1px solid #ddd;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}
  
  /* La carte se déploie au survol */
.race-card:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

/* Les informations supplémentaires sont masquées par défaut */
.hidden-info {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

/* Les informations supplémentaires apparaissent au survol */
.race-card:hover .hidden-info {
    max-height: 100px; /* Ajuste la hauteur selon le contenu */
    opacity: 1;
}
/* Styles de base pour le titre de la carte */
.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.toggle-exotic-btn {
    background-color: rgba(0, 0, 0, 0.05);
    color: #f3d8b9 ;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
    position: relative;
    left: 50%; /* Positionnement */
    transform: translateX(-50%);
  }
  
  .toggle-exotic-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Cacher les races exotiques par défaut */
  .exotic-races.hidden {
    display: none;
  }

  /* Animation pour faire apparaître les races exotiques */
.exotic-races {
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
  }