<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2>Réinitialisation du mot de passe</h2>
			<form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
				<div class="form-group mb-3">
					<label for="password">Nouveau mot de passe</label>
					<input
						type="password"
						id="password"
						class="form-control"
						formControlName="password"
						placeholder="Entrez votre mot de passe"
						autocomplete="on"
					/>
					<div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" class="text-danger">
						Le mot de passe est requis (minimum 6 caractères).
					</div>
				</div>

				<div class="form-group mb-3">
					<label for="confirmPassword">Confirmez le nouveau mot de passe</label>
					<input
						type="password"
						id="confirmPassword"
						class="form-control"
						formControlName="confirmPassword"
						placeholder="Confirmez votre mot de passe"
						autocomplete="on"
					/>

					<!-- Affiche un message d'erreur si la confirmation du mot de passe est invalide et touchée -->
					<div *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched" class="text-danger">
						<!-- Si la confirmation est requise -->
						<div *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">La confirmation du mot de passe est requise.</div>
					</div>

					<!-- Affiche un message si les mots de passe ne correspondent pas -->
					<div *ngIf="resetForm.errors?.['passwordMismatch'] && resetForm.get('confirmPassword')?.touched" class="text-danger">
						Les mots de passe ne correspondent pas.
					</div>
				</div>

				<button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Réinitialiser</button>
			</form>
		</div>
	</div>
</div>
