<div class="container">
     <!-- Vérification si le tableau characters est vide -->
     <div *ngIf="characters.length === 0;" class="no-character-message">
        Aucun personnage...  mais vous pouvez en créer un ! 
    </div>

    <ng-template #loading>
        <div class="loading-message">
            <p>Loading character data...</p>
        </div>
    </ng-template>
    <!-- Affichage du bouton si `userId` est défini, en haut à droite -->
    <div *ngIf="isSelfCharacter" class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" (click)="createNewCharacter()">Créer un nouveau personnage</button>
    </div>
    <div *ngIf="characters.length > 0;"  class="row">
        <div *ngFor="let character of characters" class=" mx-1 col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="card character-card">
                <div class="card-img"><img class="card-img-top" src="{{ character.imageUrl}}" alt="Card image cap"></div>
                <div class="card-body">
                    <h5 class="card-title">{{ character.name }}</h5>
                    <p class="card-text">Level: {{ character.level }}
                        <br>Race: {{ character.race }}
                    </p>
                    
                    <a [routerLink]="['/character', character._id]" class="btn btn-primary">Voir la fiche</a> <button *ngIf="isSelfCharacter" class="btn btn-danger ml-2" (click)="openDeleteModal(character)">
                        X
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
