.table-striped-vertical td:nth-child(even) {
    background-color: #621503; /* Couleur de fond pour les colonnes paires */
    color:#FFCA8C;
}

.table-striped-vertical td, .table-striped-vertical th {
    text-align: center; /* Centrage du texte dans les cellules */
}

#statistique tr:nth-child(2) td{
    font-size: 10px; /* Taille de la police pour la ligne 2 */
    background-color: inherit; /* Couleur de fond pour la ligne 2 */
    border-bottom: inherit; /* Bordure basse pour la ligne 2 */
    color: black !important;
}

#competence td:nth-child(1){
  text-align: left; /* Alignement du texte à gauche pour la première colonne */
}

.list-inline-item {
    background-color: #621503;
    color:#FFCA8C;
    margin-bottom: 5px;
    padding: 5px;
}
/* Style de la barre de navigation */
.nav-tabs {
    border-bottom: 2px solid #ddd;
    background-color: #621503;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

/* Style pour chaque onglet */
.nav-tabs .nav-link {
    color: #FFB65F;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

/* Onglet actif */
.nav-tabs .nav-link.active {
    background-color: #FFB65F;
    color: #621503;
    border-color: #6c757d;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Survol des onglets */
.nav-tabs .nav-link:hover {
    background-color: #FFB65F;
    border-color: #ddd;
    color: #621503;
}

/* Changement de couleur au clic */
.nav-tabs .nav-link:focus {
    background-color: #FFB65F;
    outline: none;
    color: #621503;
}

/* Responsive - Adaptation sur petit écran */
@media (max-width: 768px) {
    .nav-tabs {
        flex-wrap: wrap;
    }

    .nav-tabs .nav-link {
        margin-bottom: 5px;
        flex: 1 0 100%;
        text-align: center;
    }
}
.infoPrincipal{
    columns: 3;
}

.session-controls{
    display: inline-block;
}

.img-fluid{
    width: 100%;
    object-fit: contain;
    max-height: 300px;
}

.backstoryContainer p + p {
    margin-top: 1rem; /* espace entre paragraphes */
}

.backstoryContainer {
	color: #333; /* couleur du texte */
	margin-top: 1rem; /* marge supérieure pour espacer du reste du contenu */
}

.backstoryContainer p {
	margin-bottom: 0; /* marge inférieure pour espacer les paragraphes */
}

.backstoryContainer p.ql-align-justify {
	text-align: justify; /* alignement du texte en justification */
}

.backstoryContainer p.ql-align-center {
	text-align: center; /* alignement du texte au centre */
}

.backstoryContainer p.ql-align-right {
	text-align: right; /* alignement du texte à droite */
}

.backstoryContainer p.ql-align-left {
	text-align: left; /* alignement du texte à gauche */
}

.backstoryContainer p.ql-indent-1 {
	margin-left: 1.5rem; /* indentation pour le premier niveau */
}
.backstoryContainer p.ql-indent-2 {
	margin-left: 3rem; /* indentation pour le deuxième niveau */
}
.backstoryContainer p.ql-indent-3 {
	margin-left: 4.5rem; /* indentation pour le troisième niveau */
}
.backstoryContainer p.ql-indent-4 {
	margin-left: 6rem; /* indentation pour le quatrième niveau */
}
.backstoryContainer p.ql-indent-5 {
	margin-left: 7.5rem; /* indentation pour le cinquième niveau */
}
.backstoryContainer p.ql-indent-6 {
	margin-left: 9rem; /* indentation pour le sixième niveau */
}
.backstoryContainer p.ql-indent-7 {
	margin-left: 10.5rem; /* indentation pour le septième niveau */
}
.backstoryContainer p.ql-size-small {
	font-size: 0.875rem; /* taille de police pour le texte plus petit */
}
.backstoryContainer p.ql-size-large {
	font-size: 1.25rem; /* taille de police pour le texte plus grand */
}
.backstoryContainer p.ql-size-huge {
	font-size: 1.5rem; /* taille de police pour le texte énorme */
}

.backstoryContainer p.ql-font-serif {
	    font-family: Georgia, Times New Roman, serif;
}

.backstoryContainer p.ql-font-monospace {
    font-family: Monaco, Courier New, monospace;
}
